%h1 Listing users

%table
  %tr
    %th Username
    %th Nickname
    %th Provider
    %th Url
    %th
    %th
    %th
  - if @curr_user.friendships.count > 0
    - @curr_user.friendships.each do |friendship|
      %tr
        %td= friendship.friend.username
        %td= friendship.friend.nickname
        %td= friendship.friend.provider
        %td= friendship.friend.url
  - else
    %tr
      %td No friends

%br

= link_to 'Find Friends', :controller => 'users', :action => 'search', :method => :get