- if user_signed_in?
  %h1 Listing users

  %table
    %tr
      %th Email
      %th Nickname
      %th Provider
      %th Url
      %th
      %th
      %th
    - if @friendships.present? || @inverse_friendships.present?
      - @friendships.each do |friendship|
        %tr
          %td= friendship.friend.email
          %td= friendship.friend.nickname
          %td= friendship.friend.provider
          %td= friendship.friend.url
      - @inverse_friendships.each do |inverse_friendship|
        %tr
          %td= inverse_friendship.user.email
          %td= inverse_friendship.user.nickname
          %td= inverse_friendship.user.provider
          %td= inverse_friendship.user.url
    - else
      %tr
        %td No friends

  %br

  = link_to 'Find Friends', :controller => 'users', :action => 'search', :method => :get
