%h2
  Find new friends

.find-friends-form

  = form_for @user, :url => { :action => 'search' }, :html => {:class => 'form-search'} do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, 'error')} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :email, :class => 'control-label span2'
      = f.text_field :email, :class => 'search-query span3'
    .field
      = f.label :username, :class => 'control-label span2'
      = f.text_field :username, :class => 'search-query span3'
    .actions
      = f.submit 'Search', :class => 'btn btn-success span2'

%div
  - if @friends.present?
    %ul.nav.search-results
      - @friends.each do |friend|
        %li.row
          %div.span4
            = friend.username.blank? ? 'No Username' : friend.username
          %div.span4
            = friend.email
          %div.span4
            - if friend === current_user
              It is You
            - else
              - if current_user.is_my_friend?(friend)
                - if current_user.is_active_friend?(friend)
                  = link_to 'Remove from friends', { :controller => 'friendships', :action => 'destroy_friendship', :friend_id => friend.id}, :class => 'btn btn-danger'
                - else
                  Inactive Friend
              - else
                = link_to 'Add to friends', { :controller => 'friendships', :action => 'new_friendship', :friend_id => friend.id}, :class=> 'btn btn-success'

