= link_to 'Return to friends list', users_path
%h1 Listing audio files
- if @files.present?
  - @files.each do |file|
    %div
      = link_to "#{file.name}#{file.output_format}", "/user-files/#{file.id}/save"
- else
  %span
    No audio files

- if @user.id == current_user.id
  %br
  = link_to 'Upload new audio file', new_user_file_path
